<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>

<form id='login' action='/DoLogin' method="post">
<input type="email" name="UserEmail">
<input type="password" name="UserPwd">
<button type='submit'>로그인</button>
</form>

<button type='button' id='join'>회원가입</button>
<script src="/js/LoginForm.js"></script>
</body>
</html>