<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="food.Mapper.FUserMapper">
        
        <select id='DoLogin'
        resultType='food.Vo.FUser'>
        
        SELECT UserEmail, UserNick, UserTag, UserRole FROM FUser WHERE UserEmail = #{UserEmail}
        
        </select>
        
        
        <select id="TagCheck"
        resultType="String">
        SELECT UserTag From FUser WHERE UserTag = #{UserTag}
        </select>
        
        <insert id="UserJoin"
        parameterType="food.Vo.FUser">
        INSERT INTO FUser (UserEmail, UserPwd, UserNick, UserTag)
        values
        (
        #{UserEmail},
        #{UserPwd},
        #{UserNick},
        #{UserTag}
		)
        </insert>
</mapper>